
@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&family=Protest+Revolution&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.protest-revolution-regular {
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

.ga-maamli-regular {
    font-family: "Ga Maamli", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  html, body {
    overflow-x: hidden;
  }  

  
